# QUICK START
# Youtube tutorial: https://www.youtube.com/watch?v=GMppyAPbLYk
# 1. Ctrl+Shift+P to open up Command Palette, search for "Python: Select Interpreter".
# 2. Use Python 3.9.12 to run, Python 3.10.4 not working.
# 3. To run, open up a terminal and run "python main.py".
# 4. To execute CRUD operations run "python test.py".

# INSTALLATION
# 1. Install the package modules with "pip install -r requirements.txt".
aniso8601>=8.0.0
click>=7.1.2
Flask>=1.1.2
Flask-RESTful>=0.3.8
Flask-SQLAlchemy>=2.4.3
itsdangerous>=1.1.0
Jinja2>=2.11.2
MarkupSafe>=1.1.1
pytz>=2020.1
six>=1.15.0
SQLAlchemy>=1.3.18
Werkzeug>=1.0.1