#dashboard-options {
    margin: 10px 0px;
}

#add-expense {
    float: right;
}

#table {
    width: 100%;
    margin-bottom: 10px;
    display: table;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    /* Use global variable declared at global.css. */
    background: var(--theme-color);
}

/* Select first 3 elements. */
th:nth-child(-n+3) {
    text-decoration: underline;
    cursor: pointer;
}

/* CSS selectors: https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048. */
tr:nth-child(odd) {
    background-color: #dddddd;
}

#barChart {
    display: none;
}

#pieChart {
    display: none;
}