# QUICK START
Youtube tutorial: https://www.youtube.com/watch?v=l8WPWK9mS5M.
1. Install the package modules with "npm install".
2. To run, open up a terminal and run "npm start".
3. Open up a browser and go to http://localhost:5000.
4. Use Postman app to execute the CRUD operation.

# INSTALLATION
npm init -y 
npm install --save express
npm i --save-dev nodemon
npm i uuid