# QUICK START
Youtube tutorial: https://www.youtube.com/watch?v=T2KjBiwYyBI&list=PL_cUvD4qzbkxZZyyuXa1xkWFhRB_NoQwl&index=1.
1. Install the package modules with "npm install".
2. To run, open up a terminal and run "npm start".
3. Open up a browser and go to http://localhost:3000.
4. Use Postman app to execute the CRUD operation.

# INSTALLATION
npm init -y
npm install express cookie-parser express-session mysql2 express-validator
npm i --save-dev nodemon
    1. Go to package.json and edit "scripts", add "start": "nodemon app.js".
    2. To run, open up a terminal and run "npm start".

# SQL
1. Install "MySQL Connector/ODBC".
2. mysql -u root -p
3. SQL queries:
    SHOW DATABASE;
    CREATE DATABASE SampleApp; # Schema.
    USE SampleApp;
    SHOW TABLES;
    CREATE TABLE USERS (username VARCHAR(255), password VARCHAR(255));
    DESCRIBE USERS;