<!-- !+Tab for html template. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- CSS. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    {% include 'topNavigationBar.html' %}

    <div class="body-center">
        <h1>Expenses Dashboard</h1><hr>

        <div id="dashboard-options">
            View: <select id="selectView" onChange="updateView()">
                <option value="table" selected="selected">Table</option>
                <option value="barChart">Bar Chart</option>
                <option value="pieChart">Pie Chart</option>
            </select>

            <a id="add-expense" href="{{ url_for('addExpense') }}">Add Expense</a>
        </div>

        <!-- Expenses view. -->
        <div id="expenses-view">
            <!-- Table view. -->
            <table id="table">
                <tr>
                    <th onclick="sortTable(0)">Expense Name</th>
                    <th onclick="sortTable(1)">Budget</th>
                    <th onclick="sortTable(2)">Updated At</th>
                    <th>Edit Expense</th>
                    <th>Delete Expense</th>
                </tr>
                {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.name }}</td>
                        <td>${{ expense.amount }}</td>
                        <td>{{ expense.updated_at }}</td>
                        <td><a href="{{ url_for('editExpense', id=expense.id) }}">Edit</a></td>
                        <td><a class="delete-expense" onclick='openModal("{{ expense.id }}")'>Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
    
            <!-- Bar chart view. -->
            <!-- Chart.js tutorial: https://www.youtube.com/watch?v=E2hytuQvLlE. -->
            <canvas id="barChart" width="900" height="400"></canvas>
    
            <!-- Pie chart view. -->
            <canvas id="pieChart" width="900" height="400"></canvas>
        </div>

        <!-- Modal. -->
        <div class="modal">
            <div class="modal-content">
                <p>Are you sure you want to delete?</p>
                <button class="modal-cancel">Cancel</button>
                <button class="modal-delete">Delete</button>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <!-- Javascript. -->
    <!-- Chart.js script from https://cdnjs.com/libraries/Chart.js. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('static', filename='javascript/global.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/dashboard.js')}}"></script>
    <script>
        const ctx = document.getElementById('barChart').getContext('2d');
        const myChart = new Chart(ctx, {
            // Different type of charts: https://www.chartjs.org/docs/latest/charts/bar.html.
            type: 'bar',
            data: {
                labels: {{ labels | safe }},
                datasets: [{
                    label: "Budgets ($)",
                    data: {{ values | safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                // False to use canvas width and height.
                responsive: true
            }
        });

        const pie_ctx = document.getElementById('pieChart').getContext('2d');
        const pieChart = new Chart(pie_ctx, {
            type: 'doughnut',
            data: {
                labels: {{ labels | safe }},
                datasets: [{
                    label: "Budgets ($)",
                    data: {{ values | safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
                        'rgba(54, 162, 235, 0.4)',
                        'rgba(255, 205, 86, 0.4)'
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: false
            }
        });
    </script>
</body>
</html>