<!-- !+Tab for html template. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- CSS. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    {% include 'topNavigationBar.html' %}

    <div class="body-center">
        <h1>DBS Flask Tutorial</h1><hr>
        <ul>
            <li><a href="{{ url_for('register') }}">Register</a> account</li>
            <li><a href="{{ url_for('login') }}">Login</a> with authentication</li>
            <li>CRUD operations</li>
                <ul>
                    <li>Create expense</li>
                    <li>Read expenses</li>
                    <li>Update expense</li>
                    <li>Delete expense</li>
                </ul>
        </ul>
    </div>

    {% include 'footer.html' %}

    <!-- Javascript. -->
    <script src="{{url_for('static', filename='javascript/global.js')}}"></script>
</body>
</html>