<!-- !+Tab for html template. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    
    <!-- CSS. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_login.css') }}">
</head>
<body>
    {% include 'topNavigationBar.html' %}

    <div class="body-center">
        <h1>Register Page</h1><hr>
        <!-- Render FlaskForm validationError: https://stackabuse.com/flask-form-validation-with-flask-wtf/ -->
        <!-- Jinja syntax: https://jinja.palletsprojects.com/en/3.1.x/templates/. -->
        {% for field, errors in form.errors.items() %}
            <p class='errorMsg'>{{ '\n'.join(errors) }}</p>
        {% endfor %}

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <label>Username</label><br>
            {{ form.username }}<br>
            <label>Password</label><br>
            {{ form.password }}<br>
            {{ form.submit }}
        </form>

        <p class="text-center">Already have an account? <a href="{{ url_for('login') }}">Log in</a>.</p>
    </div>

    {% include 'footer.html' %}

    <!-- Javascript. -->
    <script src="{{url_for('static', filename='javascript/global.js')}}"></script>
</body>
</html>