<!-- Javascript. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="top-nav">
    <a class="active">Flask</a>
    <a href="{{ url_for('home') }}"><i class="fa fa-home"></i> Home</a>

    {% if current_user.is_authenticated %}
        <div class="dropdown">
            <a href="{{ url_for('dashboard') }}"><i class="fa fa-clipboard"></i> Dashboard <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="{{ url_for('addExpense') }}"><i class="fa fa-plus"></i> Add Expense</a>
            </div>
        </div>

        <a class="top-right-nav" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> Log Out</a>
        <span><i class="fa fa-user"></i> Welcome, {{ current_user['username'] }}</span>
    {% else %}
        <a class="top-right-nav" href="{{ url_for('login') }}"><i class="fa fa-sign-in"></i> Login</a>
    {% endif %}
</div>
